.back-button {
  margin: 0 0 1rem;
  padding: 0;

  background: none;
  border: none;

  cursor: pointer;

  color: var(--text-h);
  font: inherit;
}

.back-button:hover {
  color: var(--text);
}

.match-list-section {
  width: calc(100% + 10rem);
  margin-left: -2rem;
}

@media (max-width: 700px) {
    .match-list-section {
        width: 100%;
        margin-left: 0;
    }
}
